<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
<div id="alert" class="alert alert-success alert-dismissible col-sm-3" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="user-message"></div>
</div>

<main>
    <div class="container">

        <input type="hidden" id="user-from" value="<%= conversation.from %>"/>
        <input type="hidden" id="user-to" value="<%= conversation.to %>"/>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div>
                            <span id="status" class="glyphicon glyphicon-asterisk" style="color:red"></span>
                            <span id="frndName">Chat Room</span>
                            <span id="typing"></span>
                        </div>
                    </div>
                    <div class="panel-body" id="scrl2">
                        <ul id="messages"></ul>
                        <div id="msg-status"></div>
                    </div>
                    <div class="panel-footer">
                        <form id="chatForm" action="" class="form-inline">
                            <div class="form-group">
                                <input id="myMsg" class="form-control input-box-send" autocomplete="off"
                                       placeholder="Write Message Here.."/>
                            </div>
                            <button id="sendBtn" class="btn btn-success">
                                <span class="glyphicon glyphicon-send"></span> <b>Send</b>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>
<script src="/js/chat.js"></script>

</html>