<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<main>
    <div class="container-fluid">
        <input type="hidden" id="user-from" value="<%= conversation.from %>"/>
        <input type="hidden" id="user-to" value="<%= conversation.to %>"/>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2>Chat Options</h2></div>

                    <div class="panel-body" id="scrl1">
                        <ul id="list"></ul>
                    </div>
                    <div class="panel-footer">
                        <p id="typing" class="btn btn-danger btn-block btn-lg"></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 id="frndName">Chat Room</h4>
                    </div>
                    <div class="panel-body" id="scrl2">
                        <ul id="messages"></ul>
                    </div>
                    <div class="panel-footer">
                        <form id="chatForm" action="">
                            <input id="myMsg" class="input-box-send" autocomplete="off"
                                   placeholder="Write Message Here.."/>
                            <button id="sendBtn" class="btn btn-success btn-lg">
                                <span class="glyphicon glyphicon-send"></span> <b>Send</b>
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>
<script src="/js/chat.js"></script>

</html>