.navbar {
    background-color: #f8981d;
}

.members {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    overflow: auto;
    border-right: 1px solid #eee;
}

.members-group {
    width: 100%;
}

.messages-main {
    height: 90vh;
}

.messages-body {
    padding-top: 1rem;
    overflow: auto;
    height: 75vh;
}

.messages-footer {
    padding-top: 1rem;
    padding-left: .25rem;
    padding-right: .25rem;
}

.list-group-item {
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}

.list-group-item:first-child {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
